body {
    background-image: url(ticket.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
    font-family: sans-serif;
    font-size: calc(min(20px, max(2vw, 16px)));
    line-height: 1.4;
    
    margin: 0;
    padding: 0;

    min-height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

a, button {
    -webkit-tap-highlight-color: transparent !important;
    cursor: pointer;
}

.has-after-icon:after {
    content: "";
    display: inline-block;
    width: 1em;
    text-align: center;
    margin-left: 0.25em;
}

.container {
    background: rgba(255, 255, 255, 0.80);
    padding: 1.4em;
    text-align: center;
    color: #448;
    min-width: calc(min(30em, 100vw));
    box-sizing: border-box;
}

a {
    color: inherit;
}

h1 {
    letter-spacing: 0.05em;
    font-size: 2em;
}

nav {
    margin-top: 1em;
}

.ticket-build {
    font-size: 1.4em;
    line-height: 1.8em;
}
.ticket-build[data-built="0"] {
    color: #833;
}
.ticket-build[data-built="0"]:after {
    content: "∅";
}
.ticket-build[data-built="1"] {
    color: #383;
}
.ticket-build[data-built="1"]:after {
    content: "✓";
}
.ticket-build[data-built="2"] {
    color: #383;
}
.ticket-build[data-built="2"]:after {
    content: "☗";
    color: #111;
}

.new-tickets {
    font-size: 1.4em;
    line-height: 1.8em;
}
.ticket-new {
}
.ticket-new[data-keep=""]:after {
    content: "?";
}
.ticket-new[data-keep="0"] {
    color: #833;
}
.ticket-new[data-keep="0"]:after {
    content: "✕";
}
.ticket-new[data-keep="1"] {
    color: #383;
}
.ticket-new[data-keep="1"]:after {
    content: "✓";
}

button {
    font-size: inherit;
    border: none;
    background: #338;
    color: white;
    padding: 0.7em;
}
button:active {
    background: #558;
}
button:focus {
    outline: 1px dotted #000;
}

#steamwhistle {
    position: absolute;
    left: -9999px;
}
